* {
    box-sizing: border-box;
}

.container {
    border: 1px solid;
    width: 800px;
    max-width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.block-1 {
    border: 1px solid;
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.block-2 {
    border: 1px solid;
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.blockmain{
    width: 100%;
    height: 100%;
    background-color: purple;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-grow: 0;
    overflow: scroll;
    overflow-y: hidden;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;


}

.col-1 , .col-2 , .col-3 , .col-4{
    border: 1px solid;
    width: 200px;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 5px;

}

.row .col-1{
    /*min-height: 1000px;*/
    overflow: scroll;
    overflow-x: hidden;
    gap: 10px;
    padding: 10px;

}

.row .col-3 {
    /*height: 1000px;*/
    overflow: scroll;
    overflow-x: hidden;
    gap: 10px;
    padding: 10px;
}

.squareedit{
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;

}
